#landing {
    background: linear-gradient(225deg, var(--dark-overlay), var(--main-dark-overlay)), url(./images/landing.jpg);
    background-size: 150%;
    width: 100%;
    height: 120%;
    background-position: 20% 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
  overflow-y: hidden;
}
#landing-info {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 450px;
    margin-bottom: 100px;
    
}
#landing-image {
    width: 650px;
    user-select: none;
    -webkit-user-drag: none;
}
#trapezoid-button {
    background: transparent;
    border-top: 50px solid var(--main);
	border-left: 0px solid transparent;
	border-right: 25px solid transparent;
	height: 0px;
	width: 180px;
    margin-top: -20px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-join {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Audiowide";
    font-size: 25px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 200px;
    margin-left: 25px;
    height: 50px;
    transition: 0.2s;
}
#trapezoid-button:hover {
    border-top: 50px solid whitesmoke;
    cursor: pointer;
}
#landing-join:hover {
    cursor: pointer;
    color: var(--main);
}

#slant {
    height: 200px;
    width: 110%;
    transform: rotateZ(5deg);
    background: whitesmoke;
    margin-top: -85px;
    margin-left: -100px;
    z-index: 2;
}

#bottom {
    height: 1000px;
}

#services {
    background: whitesmoke;
    position: relative;
    z-index: 5;
    margin-top: -110px;
}
#services-lines {
    position: absolute;
    right: 0;
    margin-top: -44px;
    transform: rotateZ(5deg);
    z-index: -10;
    user-select: none;
    -webkit-user-drag: none;
}
#services-title-area {
    display: flex;
    align-items: center;
}
.services-trackman-main {
    transition: 0.2s;
    opacity: 1;
}
#services-header {
    font-family: "Audiowide";
    padding-left: 250px;
    height: 100px;
    color: var(--dark);
    font-size: 70px;
    text-transform: uppercase;
    margin: none;
}
#services-subheader {
    font-size: 25px;
    color: var(--dark);
    height: 100px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Audiowide";
    margin-left: 30px;
    margin-top: 8px;
}
#services-subheader-2 {
    padding-left: 250px;
    margin-top: -70px;
}
#services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
#services-container-1, #services-container-2 {
    width: 800px;
}
#services-container-2 {
    margin-top: 200px;
}
.service-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.services-name-shown {
    position: absolute;
    opacity: 0;
    user-select: none;
    width: 700px;
}
.service-name-shown-header {
    font-family: "Audiowide";
    text-transform: uppercase;
    color: var(--main);
    font-size: 30px;
}
.service-name-shown-subheader {
    text-transform: uppercase;
    margin-top: -30px;
}
.service-name-shown-desc {
    font-size: 14px;
    line-height: 25px;
    color: whitesmoke;
}

#services-trackman {
    height: 300px;
    transition: 0.2s;
}
.services-name-img {
    width: 800px;
    height: 300px;
    position: absolute;
    object-fit: cover;
    z-index: -10;
    filter: brightness(40%);
    transition: 0.2s;
}

#services-fitness {
    background: linear-gradient(var(--dark-dark-overlay), var(--dark-dark-overlay)), url(./images/fitness-image.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}
#services-puttview {
    background: linear-gradient(var(--dark-dark-overlay), var(--dark-dark-overlay)), url(https://www.puttview.com/fileadmin/_processed_/9/0/csm_Indoor01_klein_f8fb337809.jpg);
    background-size: cover;
    background-position: top;
    height: 300px;
}
#services-social {
    background: linear-gradient(var(--dark-dark-overlay), var(--dark-dark-overlay)), url(https://cdn.discordapp.com/attachments/1072556761816514664/1175550391274963115/bar-golf.png?ex=656ba39d&is=65592e9d&hm=ee398826684c3e5bfd5c77651aff3dd63760f0362d870256cf05691658a1484f&);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.service-name-header {
    font-family: "Audiowide";
    font-size: 50px;
    text-transform: uppercase;
    margin-top: -20px;
}
.service-name-subheader {
    margin-top: -40px;
    font-size: 18px;
    text-transform: uppercase;
}
.service-name:hover {

}

