#landing {
    background: linear-gradient(225deg, var(--dark-dark-overlay), var(--main-dark-overlay)), url(./images/landing.jpg);
    background-size: 150%;
    width: 100%;
    height: 120%;
    background-position: 20% 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
  overflow-y: hidden;
}
#landing-info {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 450px;
    margin-bottom: 100px;
    
}
#landing-image {
    width: 650px;
    user-select: none;
    -webkit-user-drag: none;
}
#trapezoid-button {
    background: transparent;
    border-top: 50px solid var(--main);
	border-left: 0px solid transparent;
	border-right: 25px solid transparent;
	height: 0px;
	width: 180px;
    margin-top: -20px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-join {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Audiowide";
    font-size: 25px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 200px;
    margin-left: 25px;
    height: 50px;
    transition: 0.2s;
}
#trapezoid-button:hover {
    border-top: 50px solid whitesmoke;
    cursor: pointer;
}
#landing-join:hover {
    cursor: pointer;
    color: var(--main);
}

#slant, #slant2 {
    height: 200px;
    width: 110%;
    transform: rotateZ(5deg);
    background: whitesmoke;
    margin-top: -85px;
    margin-left: -100px;
    z-index: 2;
}


#bottom {
    height: 1000px;
}

#services {
    background: whitesmoke;
    position: relative;
    z-index: 5;
    margin-top: -110px;
    padding-bottom: -20px;
    margin-bottom: 150px;
}
#services-lines {
    position: absolute;
    right: -550px;
    margin-top: -400px;
    transform: rotateZ(5deg) scale(0.7);
    z-index: -100;
    user-select: none;
    -webkit-user-drag: none;
}
#services-lines-2 {
    position: absolute;
    left: -550px;
    margin-top: -850px;
    transform: rotateZ(255deg) scale(0.7);
    z-index: -100;
    user-select: none;
    -webkit-user-drag: none;
}

.title-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-trackman-main {
    transition: 0.2s;
    opacity: 1;
}

.header {
    font-family: "Audiowide";
    height: 100px;
    color: var(--dark);
    font-size: 70px;
    text-transform: uppercase;
    margin: none;
}
.subheader {
    font-size: 25px;
    color: var(--dark);
    height: 100px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Audiowide";
    margin-left: 30px;
    margin-top: 8px;
}
.subheader-2 {
    margin-top: -70px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
#services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
#services-container-1, #services-container-2 {
    width: 100%;
}
#services-container-2 {
    margin-top: 200px;
}
.service-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 300px;
    transition: 0.2s;
}

.services-name-shown {
    position: absolute;
    opacity: 0;
    user-select: none;
    width: 40%;
}
.service-name-shown-header {
    font-family: "Audiowide";
    text-transform: uppercase;
    color: var(--main);
    font-size: 30px;
}
.service-name-shown-subheader {
    text-transform: uppercase;
    margin-top: -30px;
}
.service-name-shown-desc {
    font-size: 14px;
    line-height: 25px;
    color: rgb(196, 196, 196);
}


.services-name-img {
    width: 50%;
    height: 300px;
    position: absolute;
    object-fit: cover;
    z-index: -10;
    filter: brightness(65%);
    transition: 0.2s;
}
#services-fitness-img {
    margin-top: -2px;
}
#services-puttview-img {
    object-position: top;
}
#services-social-img {
    object-position: bottom;
    margin-top: -2px;
}

.service-name-header {
    font-family: "Audiowide";
    font-size: 50px;
    text-transform: uppercase;
    margin-top: -20px;
}
.service-name-subheader {
    margin-top: -40px;
    font-size: 18px;
    text-transform: uppercase;
}

#slant2 {
    background: var(--dark);
    transform: rotate(-5deg);
    margin: 0;
    z-index: 6;
    position: relative;
}

#pricing {
    margin-top: -250px;
    position: relative;
    z-index: 7;
    background: var(--dark);
    padding-bottom: 150px;
}
#pricing-title-area {
    margin-top: 150px;
}
#pricing-header {
    color: white;
    padding-top: 40px;
}
#pricing-subheader {
    color: white;
    padding-top: 40px;
}
#pricing-subheader-2 {
    color: whitesmoke;
}

#pricing-header-1, #pricing-header-2 {
    color: var(--main);
    font-family: "Audiowide";
    font-size: 30px;
    margin-top: 75px;
    text-transform: uppercase;
}
#pricing-header-2 {
    margin-top: 100px;
    text-align: right;
}
#pricing-section {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
#pricing-section-prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-section-column {
    background: white;
    border: 2px solid white;
    width: 300px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}


.pricing-section-cost {
    font-family: "Audiowide";
    font-size: 50px;
    margin-top: -20px;
    padding-right: 20px;
    color: var(--main);
    width: 175px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid black;
}
.pricing-section-member-type {
    font-family: "Audiowide";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background: rgb(240, 240, 240);
    height: 125px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-section-info {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
    margin-top: -20px;
}

#pricing-join {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Audiowide";
    font-size: 20px;
    text-transform: uppercase;
    background: var(--main);
    position: absolute;
    bottom: 20px;
    border: 3px solid transparent;
    transition: 0.2s;
}
#pricing-join:hover {
    background: white;
    border: 3px solid var(--main);
    color: var(--main);
}

#redlines {
    position: absolute;
    margin-top: -100px;
    transform: scale(1.1) rotate(5deg);
    z-index: -40;
    user-select: none;
    -webkit-user-drag: none;
}


